.meist-item{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap; 
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;

    padding-bottom: 40px;
}

.meist-menu h1, p {
    color: #47525E;
    font-family: Lato;
}

.meist-menu h1 {
    padding-left: 10%;
    font-size: 40px;
    line-height: 50px;
}

.meist-item p {
    font-size: 18px;
    line-height: 22px;
}


.item-img {
    width: 30%;
    min-width: 300px;
}

.item-img img{
    width: 100%;
}



.item-text {
    width: 50%;
    padding: 40px;
    min-width: 300px;
}
