.meist-menu {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap; 
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
}

.meist-item{
    padding: 20px 200px;
}

.meist-item h1, p {color: #47525E; font-family: Lato;}

.meist-item h1 {
    font-size: 40px;
    line-height: 50px;
}

.meist-item p {
    font-size: 17px;
    line-height: 22px;
}

.meist1, .meist2 {width: 243px; height: 162px; }

.meist1 {
    float: right; 
    padding: 0px 0px 0px 100px;
}

.meist2 {
    float: left; 
    padding: 0px 100px 80px 0px;
}


@media (max-width: 450px) {
    .meist-menu {
        flex-flow: column;
    }
    .meist1, .meist2 {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .meist-item h1, p {
        text-align: center; 
        margin-top: 5px;
    }
}

@media (max-width: 1400px){
    .meist1, .meist2 {
        padding: 10px 10px 20px 10px;
        float: none;
    }
    .meist-item h1, p {
        text-align: center; 
    }
    .meist-item{
        padding: 20px 0px;    
    }
}
