html, body {
    margin: 0;
    padding: 0;
    border: 0;
    
    width: 100%;

    background-color: #edebe9;
}

a {
    text-decoration: none;
}



/*HEADER*/
header {
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    padding:30px 0 30px 0;
}

nav {
    width: 100%;
}

nav img {
    width: 400px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/*MAIN*/
main {
    padding-top: 170px;
    padding-bottom: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}




/*MAIN - MENU*/
.main-menu {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap; 
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
}

.menu-item {
    width: 300px;
    height: 300px;
    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;
    margin: 10px;

    text-align: center;

    background-color: #50c878;
    border-radius: 15px;
}

.menu-item img {
    padding-top: 10px;
    width: 150px;
    height: 150px;
}

.item-header {
    padding-top: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    color: black;
}



/*FOOTER*/
footer {
    padding: 20px 0px 20px 0px;
    
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    text-align: left;
    background-color: #3b444b;
}

.footer-links {
    padding-left: 70px;
}

footer ul li {
    display: block;
    padding: 5px 0 5px 0;
}


footer ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff;
}

.footer-sm {
    padding: 45px 70px 10px 70px;
}

a.footer-sm {
    display: inline;
}

footer img {
    margin-left: 15px;
}