.about-work{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap; 
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;

    padding-bottom: 20px;
}

.work-video {
    max-width: 480px;
    width: 100%;
}

iframe {
    width: 100%;
}


.work-list {
    width: 250px;
    padding-top: 30px;
    padding-left: 40px;
}

.about-work h1 {
    color: #47525E;
    font-family: Lato;
    font-size: 40px;
    line-height: 50px;
}

.about-work h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    color: #47525E;
    text-align: center;
}

.work-list ul li {
    font-size: 18px;
    padding: 10px 5px;
    color: #47525E;
}


.buttons {
    margin-top: 40px;
}

.buttons button{
    width: 150px;
    background-color: #3b444b;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
